*{
	margin: 0px;
	padding: 0px;
}
body{

	 background-image:  linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	 margin-top: 0px;
	 align-items: center;
}
img{
	height: 200px;
	width: 200px;
	
	/*padding:10px;*/
	top: 20%;
	border-color: #eaeaea;
	float: left;
	border: 2px;
	border-style: solid;
	border-radius: 50%;
	margin-left: 100px;
	position: absolute;
	
	left: 1.2%;
	transition: 0.4s;

}
img:hover{
	border-radius: 1px;
}
.links{
	display: inline;
	padding: 1.9%;
	margin:auto;
	float: right;
	font-size: 150%;
	color: white;

}
nav{
	/*margin-right: 90px;
	margin-left: 90px;*/
	
	padding: 0px;	
	
	
	height: 11%;
	/*background-color: #2e2e2e*/
}
nav li{
	background-color: rgb(46, 46, 46,0.8) ;
	width: 10%;
	align-items: center;	
	text-align: center;
	opacity: 50%;



}
nav li:hover{
	background-color: rgb(46, 46, 46,0.9);


}
.active{
	background-color: rgb(46, 46, 46,1) ;
}
a{
	display: block;

}

.heading{
	font-family: 'Sofia', cursive;
	/*margin-left: 20px;
	padding-left: 10px;*/
	font-size: 180%;
	font-color:white;
	top: 50%;
	left: 7%;
	position: absolute;

}

.text {
	align-items: center;
	float: right;	
	color:#2e2e2e;
	position: absolute;
	top: 40%;
	left: 60%; 
	margin: 30px;
	font-size:200%;
	font-family: 'Sofia', cursive;
	}
.texttable {
	font-family: 'Just Another Hand', cursive;
	

	position: absolute;
	left: 52%;
	top: 35%;
	list-style: asterisks;
	width: 40%;
	height: 50%;
	font-size: 50px;
	color:#2e2e2e;
}
.texttable tr td:hover{
font-size: 50px;
color: #483a3a;


}
.textcontact  {
	
	float: right;
	position: absolute;
	top: 100px;
	left: 400px;
	display: inline;

	
}
.textcontact ul{
	display: inline-flex;
	list-style: none;
}
.textcontact ul a{
	color:#2e2e2e;
padding: 30px;
font-size:50px;

}
.textcontact ul a:hover{
	color:rgb(10,110,200);

font-size:50px;


}


/*.textcontact a{

	color: #2e2e2e
	

}*/
